/* CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* My Code: */

#layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
}

#sidebar {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: #252523;
    border-right: 3px solid #3f3f3b;
    padding: 10px 20px;
    color: #c2c0b6;
    gap: 30px;
    font-size: 1.2rem;
}

#main {
    grid-column: 2 / 3;
    background-color: #262624;
}

/* Sidebar */

#sidebar-group-1 {
    display: flex;
    justify-content: space-between;
}

#title {
    font-size: 1.5rem;
    color: #faf9f5;
}

.sidebar-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-button {
    display: flex;
    align-items: center;
    color: inherit;
    background-color: inherit;
    border: none;
    width: fit-content;
    gap: 5px;
}

.sidebar-svg {
    width: 15px;
    height: 15px;
}