/* CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* My Code: */

/* Custom Values */

:root {
    --main-background-color: #262624;
    --sidebar-background-color: #252523;
    --hover-background-color: #141414;
    --border-color: #41413d;
    --form-border-color: #494946;
    --form-item-background-color: #30302e;
    --text-color: #c2c0b6;
    --text-color-light: #faf9f5;
    --text-color-dark: #8b8983;
}

/* Layout Containers */

#sidebar {
    position: fixed;
    min-height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background-color);
    border-right: 3px solid var(--border-color);
    padding: 10px 20px;
    color: var(--text-color);
    gap: 30px;
    font-size: 1.2rem;
}

#main {
    min-height: 100vh;
    min-width: 800px;
    margin-left: 320px;
    background-color: var(--main-background-color);
    color: var(--text-color);
    padding: 40px;
    gap: 40px;
    font-size: 1.5rem;
}

/* Buttons */

button {
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    min-width: 35px;
}

button:hover {
    background-color: var(--hover-background-color);
    color: var(--text-color-light);
}

/* Sidebar */

#sidebar-group-1 {
    display: flex;
    justify-content: space-between;
}

#sidebar-title {
    font-size: 1.5rem;
    color: var(--text-color-light);
}

.sidebar-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar-svg {
    width: 15px;
    height: 15px;
}

/* Main */

.list-view {
    display: flex;
    flex-direction: column;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-template-rows: calc(3rem + 24px) repeat(auto-fit, minmax(0, max-content));
}

#main-title {
    font-size: 3rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.main-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    word-break: break-word;
}

.project-item-group {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.tip-item-group {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.main-item-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

.description {
    font-size: 1rem;
    text-align: left;
    word-break: break-word;
}

.main-svg {
    width: 25px;
    height: 25px;
    margin: 3px 0;
}

.completed {
    color: var(--text-color-dark);
    text-decoration: line-through;
}

/* Dialogs */

dialog {
    margin: auto;
    background-color: var(--main-background-color);
    font-size: 1.5rem;
    color: var(--text-color);
    border: 3px solid var(--border-color);
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea, select {
    background-color: var(--form-item-background-color);
    color: inherit;
    border: 2px solid var(--form-border-color);
    border-radius: 5px;
}

.form-title-group {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 2rem;
}

.dialog-cancel-button {
    margin: 5px 0;
}

.dialog-cancel-svg {
    width: 30px;
    height: 30px;
}

.dialog-submit-button {
    background-color: var(--form-item-background-color);
    border: 2px solid var(--form-border-color);
}